.chartContainer {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  @media (min-width: 768px) {
    .chartContainer {
      height: auto;
    }
  }
  
  @media (max-width: 767px) {
    .chartContainer {
      height: auto;
    }
  }
  #chartContainer {
    height: 400px;
  }
  
  /* Set height for mobile devices */
  @media (max-width: 767px) {
    #chartContainer {
      height: 300px;
    }
  }