html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #797979 !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
    
  }
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(216, 214, 214, 0.836); 
  border-radius: 5px;
}
h1{
  /* background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
/* color: #000;
font-weight: 600; */
}
::-webkit-scrollbar-thumb {
  background: #4300bb; 
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4300bb; 
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  
}


button:focus {
  box-shadow: none !important;
  /* background-color: #01459a !important; */
}
button:active {
  box-shadow: none !important;
  /* background-color: #01459a !important; */
}
button:target {
  box-shadow: none !important;
  /* background-color: #01459a !important; */
}
button:focus-within {
  box-shadow: none !important;
  /* background-color: #01459a !important; */
}
button:visited {
  box-shadow: none !important;
  /* background-color: #01459a !important; */
}
button:hover {
  box-shadow: none !important;
  /* background-color: #01459a !important; */

  /* background-color: #4300bb !important; */
}
.navbar-default .navbar-nav:hover>.active:not(:hover) > a {
  border-top-color: transparent;
}

@keyframes hover-slide-fwd-center {
  0% {
    transform: scale(1);
    opacity: 1;
  }
100% {
    transform: scale(1.1);
    opacity: 1.5;
  }
}

.shadow-drop-2-center:hover {
  animation: hover-slide-fwd-center 0.3s forwards;
}


@media(max-width:425px){
  .shadow-drop-2-center:hover {
    animation: none; 
  }
}

@media(max-width:375px){
  .shadow-drop-2-center:hover {
    animation: none; 
  }
}
@media(max-width:320px){
  .shadow-drop-2-center:hover {
    animation: none; 
  }
}
.chart-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}