
.root {

    font-weight: 700 ;
    color:#68a4ff;
    border:  1px solid #68a4ff; 
    display: flex;
    width: 150px;
    transform: translate(-10px,0px);
    justify-content:space-evenly;
    &:hover{
        background-color:#68a4ff;
        color:white;
      
    }
}
.mobileSideNav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mobileSide {
    transition: 0.4s ease;
    color: #797979;
    letter-spacing: .3px;
    text-align: center;
    font-weight: 500;
  }
  .mobileSideDisplay{
    display: none;
  }
  @media (max-width: 600px) {
    .mobileSideNav{
        display: none;
    }
    .mobileSide {
        display: none;
      }
      .mobileSideDisplay{
        display: block;
      }
  }
.btnstyle{
    font-weight: 700 ;
    color:white;
    display: flex;
    border:  none; 
    width: 250px;
    background-color:#0055d5;
    justify-content:space-evenly;
    &:hover{
        background-color:#68a4ff;
        color:white;
        border:  none; 

    }
    &:focus{
        background-color:#0055d5;
        color:white;
        border:  none; 
    }
    &:active{
        background-color:#68a4ff;
        color:white;
        border:  none; 
    }
}

.btnstyleReport{
    font-weight: 700 ;
    color:white;
    display: flex;
    border:  none; 
    width: 150px;
    transform: translate(-10px,0px);
    background-color:#00b31e;
    justify-content:space-evenly;
    &:hover{
        background-color:#26c040;
        color:white;
        border:  none; 

    }
    &:focus{
        background-color:#26c040;
        color:white;
        border:  none; 
    }
    &:active{
        background-color:#26c040;
        color:white;
        border:  none; 
    }
}

.btnstyleSUBMIT{
    font-weight: 700 ;
    color:white;
    display: flex;
    border:  none; 
    width: 100%;
    background-color:#0055d5;
    justify-content:space-evenly;
    &:hover{
        background-color:#68a4ff;
        color:white;
        border:  none; 

    }
    &:focus{
        background-color:#0055d5;
        color:white;
        border:  none; 
    }
    &:active{
        background-color:#68a4ff;
        color:white;
        border:  none; 
    }
}
